<!-- Not a real configuration file! -->
<!-- The items described in here need to ported into the referencing host's App.config or Web.config -->
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- AAL client configuration settings-->
    <!-- original example settings -->
    <add key="Tenant" value="https://humongousinsurance.accesscontrol.windows.net"/>
    <add key="ServiceRealm" value="urn:shipperservice:noninteractiveauthentication"/>
    <add key="TargetService" value="http://localhost:?/NonInteractive"/>
    <!-- SOA settings -->
    <add key="Tenant" value="https://gts-acsissuer.accesscontrol.windows.net"/>
    <add key="ServiceRealm" value="urn:GTS.SOA.Service.rest"/>
    <!--<add key="TargetService" value="GTS.AccountManager.UserService"/>-->
    <!-- Token cache config settings-->
    <add key="TokenCacheClockSkewInSeconds" value="30"/>

    <!-- AAL server configuration settings-->
    <!-- original example settings -->
    <add key="Tenant" value="https://humongousinsurance.accesscontrol.windows.net/"/>
    <add key="AllowedAudience" value="urn:shipperservice:noninteractiveauthentication"/>
    <add key="FedMetadataEndpoint" value="https://humongousinsurance.accesscontrol.windows.net/FederationMetadata/2007-06/FederationMetadata.xml"/>
    <!-- SOA settings -->
    <add key="Tenant" value="https://gts-acsissuer.accesscontrol.windows.net/" />
    <add key="AllowedAudience" value="urn:GTS.SOA.Service.rest" />
    <add key="FedMetadataEndpoint" value="https://gts-acsissuer.accesscontrol.windows.net/FederationMetadata/2007-06/FederationMetadata.xml" />

  </appSettings>
</configuration>