<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="UseConnection" value="CO-DB01_EMC_5_0_Test"/>
  </appSettings>
  <connectionStrings>
    <add name="CO-DB01_EMC_5_0_Test" connectionString="Server=CO-DB01;Integrated Security=SSPI; Initial Catalog=xStore_EMC_5_0_Test" providerName="System.Data.SqlClient"/>
    <add name="WS-KZEITZ_3_9_kz" connectionString="Server=localhost;Integrated Security=SSPI; Initial Catalog=xStore_3_9_kz" providerName="System.Data.SqlClient"/>
    <add name="CO-DB01_3_9_kz" connectionString="Server=CO-DB01;Integrated Security=SSPI; Initial Catalog=xStore_3_9_kz" providerName="System.Data.SqlClient"/>
    <add name="CO-DB01_3_9" connectionString="Server=CO-DB01;Integrated Security=SSPI; Initial Catalog=xStore_3_9" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
