<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="UseConnection" value="CO-DB01_3_9"/>
  </appSettings>
  <connectionStrings>
    <add name="local_xStore_Tarrant" connectionString="Server=(local); Integrated Security=SSPI; Initial Catalog=xStore_Tarrant_After_Port;" providerName="System.Data.SqlClient"/>
    <add name="local_xStore_40" connectionString="Server=(local); Integrated Security=SSPI; Initial Catalog=xStore_40;" providerName="System.Data.SqlClient"/>
    <add name="CO-VM-PR-DB01_Seattle" connectionString="Server=CO-VM-PR-DB01; Integrated Security=SSPI; Initial Catalog=Tfs_Seattle_Development;" providerName="System.Data.SqlClient"/>
    <add name="CO-VM-PR-DB01" connectionString="Server=CO-VM-PR-DB01; Integrated Security=SSPI; Initial Catalog=xStore_5_0;" providerName="System.Data.SqlClient"/>
    <add name="CO-DB01_EMC_5_0_Test_SQL" connectionString="Server=CO-DB01; Initial Catalog=xStore_EMC_5_0_Test; User Id=sa; password= B33rB0ng" providerName="System.Data.SqlClient"/>
    <add name="CO-DB01_EMC_5_0_Test" connectionString="Server=CO-DB01;Integrated Security=SSPI; Initial Catalog=xStore_EMC_5_0_Test" providerName="System.Data.SqlClient"/>
    <add name="WS-KZEITZ_3_9_kz" connectionString="Server=localhost;Integrated Security=SSPI; Initial Catalog=xStore_3_9_kz" providerName="System.Data.SqlClient"/>
    <add name="CO-DB01_3_9_kz" connectionString="Server=CO-DB01;Integrated Security=SSPI; Initial Catalog=xStore_3_9_kz" providerName="System.Data.SqlClient"/>
    <add name="CO-DB01_3_9" connectionString="Server=CO-DB01;Integrated Security=SSPI; Initial Catalog=xStore_3_9" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
