<!-- Not a real configuration file! -->
<!-- The items described in here need to ported into the referencing host's App.config or Web.config -->
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- local development connection -->
    <add key="CloudStorageConnectionString" value="UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://127.0.0.1" />
    <!-- local development connection through Fiddler -->
    <add key="CloudStorageConnectionString" value="UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://ipv4.fiddler" />
    <!-- production connection using default endpoint names -->
    <add key="CloudStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=lukavastorage;AccountKey=wY6LP1lyeXuvEtSAYN0yw+a7YqCHLQvGRaM55is8tjNln4ePHwA6zFeo+HJiduWTj3IabqGzVMMbpgbMI2syfw==" />
  </appSettings>
</configuration>